@font-face{
    font-family: 'Futura Book Font';
    src: url(../font/Futura\ Book\ font.ttf);
}
@font-face{
    font-family: 'futura medium condensed bt';
    src: url(../font/futura\ medium\ condensed\ bt.ttf);
}
@font-face{
    font-family: 'Roseritta';
    src: url(../font/Roseritta.ttf);
}
.navbar-default {
	background:rgba(248, 248, 248, 0);
	border:rgba(248, 248, 248, 0);
	padding:5px 5px;
}

/*Slider-stylesheets-include-here*/
.shadow-txt{
    width: 900px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(4px 4px 8px #333);
}
/*Opening photo*/

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.carousel {
    position: relative;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
         -o-transition: .6s ease-in-out left;
            transition: .6s ease-in-out left;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    line-height: 1;
  }
  @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
      -webkit-transition: -webkit-transform .6s ease-in-out;
           -o-transition:      -o-transform .6s ease-in-out;
              transition:         transform .6s ease-in-out;
  
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-perspective: 1000px;
              perspective: 1000px;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block;
  }
  .carousel-inner > .active {
    left: 0;
  }
  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .carousel-inner > .next {
    left: 100%;
  }
  .carousel-inner > .prev {
    left: -100%;
  }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0;
  }
  .carousel-inner > .active.left {
    left: -100%;
  }
  .carousel-inner > .active.right {
    left: 100%;
  }
  .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
  }
  .carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
  }
  .carousel-control:hover,
  .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
  }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
  }
  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
  }
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
  }
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
  }
  .carousel-control .icon-prev:before {
    content: '\2039';
  }
  .carousel-control .icon-next:before {
    content: '\203a';
  }
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
  }
  .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
  .carousel-caption .btn {
    text-shadow: none;
  }
  @media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
      margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
      margin-right: -15px;
    }
    .carousel-caption {
      right: 20%;
      left: 20%;
      padding-bottom: 30px;
    }
    .carousel-indicators {
      bottom: 20px;
    }
  }
  
	#home-carousel .item {
        background-position: center top;
        background-repeat: no-repeat;
        background-size:cover;
        width:100%;
        height: 650px;
    }
    #home-carousel .item:before {
        background-color: #000;
        content: "";
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        position: absolute;
        width: 100%;
    }
    .carousel-caption {
        left: 15px;
        right: 15px;
        top: 50%;
        font-size: 15px;
        text-align: left;
        color: #fff;
        text-shadow: none;
        margin-top: -130px;
    }
    .carousel-caption h1 {
        font-size:35px;
        margin-bottom:10px;
        letter-spacing:2px;
        font-weight:100;
    }
    .carousel-caption h2 {
        color:#fff;
        font-size:75px;
        font-weight:600;
        margin-top:0px;
        text-transform:none;
        letter-spacing:2px;
        margin-bottom:20px;
    }
    .carousel-caption p {
        color:#FFFFFF;
        font-size:17px;
        font-weight:normal;
        line-height:27px;
    }
    .home-carousel-left, .home-carousel-right {
        background-color: #e73131;
        color:#fff;
        font-size: 32px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 32px;
        z-index: 999;
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -o-transition: 300ms;
        -ms-transition: 300ms;
        transition: 300ms;
    }
    .home-carousel-left {
        left:-32px;
    }
    .home-carousel-right {
        right:-32px;
    }
    #home-carousel:hover .home-carousel-left {
        left:0;
    }
    #home-carousel:hover .home-carousel-right {
        right:0;
    }
    /* Carousel animation */
    
        #home-carousel .item h1, #home-carousel .item h2, #home-carousel .item p {
        opacity:0;
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -o-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }
    #home-carousel .item h1 {
        -webkit-transition: all 0.5s ease-in-out 0.15s;
        -moz-transition: all 0.5s ease-in-out 0.15s;
        -ms-transition: all 0.5s ease-in-out 0.15s;
        -o-transition: all 0.5s ease-in-out 0.15s;
        transition: all 0.5s ease-in-out 0.15s;
    }
    #home-carousel .item.active h1, #home-carousel .item.active h2, #home-carousel .item.active p {
        opacity:1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    #home-carousel .item h2 {
        -webkit-transition: all 0.5s ease-in-out 0.30s;
        -moz-transition: all 0.5s ease-in-out 0.30s;
        -ms-transition: all 0.5s ease-in-out 0.30s;
        -o-transition: all 0.5s ease-in-out 0.30s;
        transition: all 0.5s ease-in-out 0.30s;
    }
    #home-carousel .item p {
        -webkit-transition: all 0.5s ease-in-out 0.45s;
        -moz-transition: all 0.5s ease-in-out 0.45s;
        -ms-transition: all 0.5s ease-in-out 0.45s;
        -o-transition: all 0.5s ease-in-out 0.45s;
        transition: all 0.5s ease-in-out 0.45s;
    }
    @media all and (min-width: 993px) and (max-width: 1200px) {
        
.carousel-caption h2{
    font-size:67px;
    }
    } 

    @media all and (min-width: 767px) and (max-width: 992px) {
        
.carousel-caption h2{
    font-size:67px;
    }
    }   

@media all and (min-width: 480px) and (max-width: 768px) {
        
.carousel-caption h2{
    font-size:45px;
    }
    .carousel-caption p {
        font-size: 15px;
        line-height: 25px;
        }
    }
    @media all and (min-width: 299px) and (max-width: 479px) {
        
.carousel-caption h2{
    font-size:45px;
    }
    .carousel-caption p {
        font-size: 15px;
        line-height: 25px;
        }
    
    }

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}














.logo{
    /* untuk mengatur logo yang di header */
    margin-top: 5px;
}
.logo-name{
    /* mengatur font nama perusahaan di heading */
    margin-top: -60px;
    margin-left: 93px;
    font-family: 'Roseritta';
    font-size: 18px;
    color: black;
    font-weight:500;
}
#more{
    display: none;
}
.tentang{
    margin: 0 auto;
}
.isi{
    margin-bottom: 100px;

}
.resp-photo{
    display: flex;
    flex-wrap: wrap;
}
.resp-photo img.photo{
    max-width: 100%;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    margin: 10px;
}
.color{
    background-color: #f5ecd7;
}
.selamat{
    font-size: 30px;
    font-family: Futura Book Font;
    margin-bottom: 50px;
    margin-top: 20px;
}

  /* ======button lihat lebih====== */

  .button {
    padding: 10px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #053b06;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/*=======batas dari button lihat lebih======*/

/*====== bagian dari gallery =======*/
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
   
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  

.logo1 {
    /*mengatur logo di footer */
    margin-bottom: 40px;


}

.minyakFooter {
    /*mengatur tulisan perusahaan di footer */
    margin-left: 100px;
    margin-top: -58px;
    font-family: Futura Book Font;
    font-size: 13px;
    color: white;
}
.name-footer{
    font-family: Roseritta;
    font-size:13px ;
    font-weight: 500;
    color: #ccd5ae;
}

/*main footer */
footer .main-footer {
    padding: 20px 0;
    background: #1f2605;

}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* copyright footer */
.footer-copyright {
    background: #091e05 ;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: #969696;
    margin: 2px 0 0;
}

/* footer top */

.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}

/* footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* widgets */

/* bagian span (semacam garis bawah yang memisah judul dengan isi)*/
.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*akhir dari span */


/*mengatur warna dari font bagian footer */
.typo-light div,
.typo-light span,
.typo-light small {
    color: darkgray;
}

/*mengatur posisi icon sosmed 
ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}*/

/*mengatur warna background icon sosmed ketika ingin diklik */
ul.social-footer2 li a:hover {
    background-color: #ffbf1e;

}

/*mengatur format ukuran background icon ketika ingin di klik */
ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

/*mengatur font di footer*/
.font-footer {
    font-family: Futura XBlk BT;
}

/*mengatur font dibawah prodi informatika di footer */
.inti {
    font-family: Futura Book Font;
}

/*mengatur font di copyright */
.copy {
    font-family: futura medium condensed bt;
    font-size: 13px;
}

.w-100{
    height: 100vh;
}

/*mengatur whatsapp button*/
.btn-floating{
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border:0;
    z-index: 9999;
    color: white;
    transition: .2s;
    
}

.btn-floating:hover{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}

.btn-floating span{
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}

.btn-floating:hover span{
    display: inline-block;
}
.whatsapp{
    bottom: 25px;
    background-color: green;
    border: 2px solid white;
}  
.btn-floating.whatsapp:hover{
    background-color: #053b06;
}

.transparent{
    background: rgb(0, 151, 19,0.3);
}

/* -------------tahap proses (buttonWA)----------
#whatsapp {
    position: fixed; 
    top: 10vh; 
    left: -200px; 
    z-index: 2;
    transition: transform ease-in-out 0.3s;
  }
  
  #whatsapp.visible {
    transform: translateX(200px); 
  }
  */

